h1 {
    font-size: 24px;
    color: #333; /* Колір тексту */
    text-align: center;
}

/* Стиль для кнопки "Завантажити" */
button {
    background-color: #007bff; /* Колір фону */
    color: #fff; /* Колір тексту */
    padding: 10px 20px; /* Відступи внутрішнього тексту */
    border: none; /* Без рамки */
    cursor: pointer; /* Курсор при наведенні */
}

/* Стиль для посилань */
a {
    color: #007bff; /* Колір посилань */
    text-decoration: none; /* Без підкреслення */
    margin-right: 10px; /* Відступи між посиланнями */
}

/* Стиль для інпутів */
input[type="file"],
input[type="text"] {
    padding: 5px; /* Відступи внутрішнього тексту */
    margin-bottom: 10px; /* Відступи між інпутами */
}

/* Стиль для ділянки списку завдань */
#task_list {
    margin-top: 20px; /* Відступ від верхнього елемента */
}

/* Стиль для кнопки "Поточне завдання" */
#current_task {
    color: #007bff; /* Колір тексту */
    text-decoration: none; /* Без підкреслення */
    margin-left: 10px; /* Відступ від інпуту */
    cursor: pointer; /* Курсор при наведенні */
}
